* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Nerko One", cursive;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;
}

input {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 1.5px solid black;
    padding-left: 7px;
}

body {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: rgb(249, 249, 249);
}

#gameBoard {
    width: 300px;
    height: 300px;
    background-color: rgb(249, 249, 249);
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

.cell {
    background-color: rgb(228, 228, 228);
    border-radius: 20px;
    margin: 5px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell:hover {
    background-color: rgb(164, 164, 164);
    cursor: pointer;
}

.highlight {
    background-color: rgb(164, 164, 164);
}

#formContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#gameContainer {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#board-names {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

